/*common shared style*/
body {
    font-family: 'Open Sans', sans-serif;
}

.primary-color {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    padding: 18px 36px;
    font-weight: 700;
    color: #fff;
}

.nav-title {
    color: #181818;

    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/*Nav related style*/
nav {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 0 200px;
}

nav>ul {
    display: flex;
    align-items: center;
    
}

nav li {
    list-style: none;
    margin-right: 50px;

}

nav li a {
    text-decoration: none;
    color: #474747;
}
/*header related style*/
.header{
    background-color: #FFF8F3;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .profile-pic{
    width: 500px;
}